*
body{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
   
}

.rong {
    color: orangered;
    padding-right: 5px;
    font-family: 'Luxurious Roman';
}
section {
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10px;
}
.half-width img {
    width: 80%;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight:700px ;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
}
.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 60px;
    margin-left: 10px;

}




.mis {
    color: rgb(3, 3, 56);
    text-align: center;
}
.m2020 {
    color: coral;
    text-align: center;
}

.lokko {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    padding: 5px;
    margin-left: 10px;
    gap: 5px;
   

}
.mission {
    width: 32%;
    background-color:rgb(94, 94, 247) ;
    border-radius: 5px;
}
.vision {
    width: 32%;
    background-color: rgb(245, 168, 114);
    border-radius: 5px;
}
.goals {
    width: 32%;
    background-color: rgb(250, 139, 99);
    border-radius: 5px;

}
.img-width {
    width: 40%;
}
.mi {
    font-size: 2opx;
    margin-left: 30px;
    justify-content: flex-start;
    align-items: start;
}
.mii {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    padding: 15px;
}
.fot {
    text-align: center;
    background-color: rgb(15, 0, 0);
    color: #fff;
    font-family: 'moon dance';
    padding: 5px;
}